/* Search Bar */

.search-bar-box {
  position: relative; /* Add this line to make the dropdown position relative to the search bar */
  background-color: black;
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 1rem;
  width: 300px;
  height: 200px;
}

input {
  width: 400px;
  height: 30px;
  border-radius: 0.875rem;
  margin-top: calc((200px - 30px) / 2);
}

.search-bar-dropdown {
  position: absolute; /* Add this line to position the dropdown absolutely */
  top: 100%; /* Add this line to move the dropdown below the search bar */
  width: 400px; /* Set the width of the dropdown to match the input field */
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  z-index: 1; /* Add this line to ensure the dropdown appears on top of other elements */
}

.search-bar-dropdown-row {
  color: #333;
  padding: 0.5rem;
  cursor: pointer;
}

.search-bar-dropdown-row:hover {
  background-color: #f2f2f2;
}

/* Characters */

.characters-container {
  background-color: #d42027;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

.characters-box {
  border: 2px solid #000;
  background-color: black;
  display: inline-block;
  max-width: 500px;
  align-items: centre;
  margin: 15px;
  margin-top: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.characters-title {
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  color: white;
  /* font-size: 1rem; this is good if I can use truncation */
}

a {
  border: 2px solid #000;
  text-decoration: none;
  color: red;
  font-weight: bold;
  background-color: #fcbf1e;
  padding: 0.5rem 1rem;
  border-radius: 0.875rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
  margin: 0.5rem 1rem;
}

a:hover {
  transform: scale(1.1);
}

.characters-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  object-position: center;
}
