.no-comics {
  font-size: 25px;
  padding: 10px;
  margin-left: 20px;
  text-align: center;
  color: white;
}

.comics-searchbar-box {
  position: relative;
  background-color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.comics-search-bar {
  width: 500px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid #ffd700;
  background-color: #fff;
  color: #212121;
  font-size: 20px;
  padding: 10px;
  margin-right: 10px;
}

.comics-link {
  border-radius: 0.875rem;
  list-style-type: none;
  list-style: none;
}

.comics-link:hover {
  transform: scale(1.1);
}

.comics-box {
  background-color: #000;
  position: relative;
}

.comics-dropdown {
  position: absolute;
  top: 44px;
  max-height: 200px;
  width: 500px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.comics-dropdown-row {
  padding: 0.5rem;
  cursor: pointer;
  color: #333;
}

.comics-dropdown-row:hover {
  background-color: #f2f2f2;
}

.comics-list-box {
  display: inline-block;
  width: 220px;
  height: 400px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
  box-sizing: border-box;
  text-align: center;
  border: 2px solid #d42027;
  background-color: #fff9db;
  border-radius: 10px;
}

.comics-list-box:hover {
  transform: scale(1.1);
}

.comic-title {
  max-width: 200px;
  height: 60px;
  color: black;
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
  font-size: 22px;
  font-weight: bold;
  margin: 20px auto 0;
  margin-top: 10px;
  margin-bottom: 5px;
}

.comics-image {
  max-width: 400px;
  max-height: 300px;
}

/* Mobile Friendly */

@media (max-width: 600px) {
  .comics-search-bar::placeholder {
    font-size: 14px;
  }
}
