.single-character-box {
  background-color: #000;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 50px;
}

.name-and-description-container {
  border: 2px solid #d42027;
  background: linear-gradient(45deg, #fcbf1e, #d42027);
  border-radius: 10px;
  box-shadow: 0 0 0 2px black;
  margin-left: 50px;
  margin-right: 50px;
  padding: 20px;
}

.character-back-button {
  color: #fff;
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 70px;
  transition: transform 0.3s ease;
}

.character-back-button:hover {
  transform: scale(1.1);
}

.character-name {
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  font-size: 70px;
  text-align: center;
  text-shadow: 0 0 10px #d42027;
  margin-bottom: 50px;
}

.character-image {
  height: 500px;
  margin: 20px;
  border: 2px solid #d42027;
  border-radius: 10px;
  box-shadow: 0 0 10px #d42027;
  transition: filter 0.3s ease;
  filter: grayscale(100%);
}

.character-image:hover {
  filter: none;
}

.character-description {
  color: #fff;
  font-size: 25px;
  padding: 10px;
  margin: 30px;
  text-align: justify;
  text-shadow: 0 0 10px #d42027;
}

.character-no-description {
  font-size: 25px;
  padding: 10px;
  margin: 30px;
  text-align: justify;
  color: #fff;
}

.comics-title {
  color: #fff;
  font-size: 50px;
  text-align: center;
  text-shadow: 0 0 10px #d42027;
  padding: 50px;
  background-color: #1b1d39;
}

.divider-color {
  background-color: #000;
}
