.single-comic-all p {
  color: white;
}

.single-comic-box {
  list-style-type: none;
  display: flex;
  background-color: black;
}

.single-comic-image {
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 200px;
}

.single-comic-information {
  margin-left: 40px;
}

.single-comic-title {
  color: red;
}

.single-comic-description {
  font-size: 25px;
  color: white;
}

.information-title {
  color: yellow;
}

.creators-title {
  color: yellow;
}
